%section.admin_add_video
  .container
    .row
      .col-md-10.col-md-offset-1
        = bootstrap_form_for [:admin, @video], html: { :multipart => true, class: "form-horizontal" } do |f|
          %ul.nav.nav-tabs
            %li
              = link_to "Recent Payments", :admin_payments
            %li.active
              %a(href="") Add a New Video
          %br
          %fieldset
            .form-group
              = f.label :title, "Title", class: "control-label col-sm-3"
              .col-sm-3
                = f.text_field :title, class: "form-control ", hide_label: :true
            .form-group
              = f.label :category_ids, "Category", class: "control-label col-sm-3"
              .col-sm-6
                = f.select :category_ids, options_for_select(Category.all.map {|category| [category.name, category.id] }), class: "form-control", hide_label: :true
            .form-group
              = f.label :description, "Description", class: "control-label col-sm-3"
              .col-sm-6
                = f.text_area :description, rows: 8, class: "form-control", hide_label: :true
            .form-group
              = f.label :large_cover, "Large Cover", class: "control-label col-sm-3"
              .col-sm-6
                %col.btn.btn-file
                  = f.file_field :large_cover, class: "form-control", hide_label: :true
            .form-group
              = f.label :small_cover, "Small Cover", class: "control-label col-sm-3"
              .col-sm-6
                %col.btn.btn-file
                  = f.file_field :small_cover, class: "form-control", hide_label: :true
            .form-group
              = f.label :video_url, "Video URL", class: "control-label col-sm-3"
              .col-sm-3
                = f.text_field :video_url, class: "form-control ", hide_label: :true
 
          %fieldset.actions.form-group
            .col-sm-6.col-md-offset-3
              %input(type="submit" value="Add Video" class="btn btn-default")